language: node_js
node_js: 11

install:
  - |
    if [ $TRAVIS_OS_NAME == "linux" ]; then
      export DISPLAY=':99.0'
      /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
    fi
  - yarn 
script:
  - yarn test 
cache: yarn
deploy:
  skip_cleanup: true
  provider: script
  script: 
    - yarn deploy -p $VSCODE_MARKETPLACE_TOKEN
  on:
    tags: true
